<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <h3><%= user_details.message ? user_details.message : "" %></h3>
    <h1>Hello <%= user_details.first_name %> <%= user_details.last_name %></h1>
    <h2>Your balance is <%= user_details.balance %></h2>

    <form action="/withdraw" method="post">
        <input type="number" name="withdraw_balance">
        <input type="submit" value="withdraw">
    </form>

    <form action="/deposit" method="post">
        <input type="number" name="deposit_amount">
        <input type="submit" value="deposit">
    </form>

    <a href="/logout">Logout</a>
</body>
</html>